*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 10, 10);
    text-align: center;


}
.container{
    width: 50%;
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: aqua;
   display: inline-block;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.success{
    padding: 3px;
    margin: 2px;
}
.backLink{
    color: rgb(212, 196, 24);
}

