<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completion Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleSheet/completeStyle.css">
    
</head>
<body>
    <div class="container">
        <div class="success">✔️ Completed Successfully!</div>
        <p>Your action has been completed.</p><br>
        <p>All the best for exam!</p>
        <a href="/" class="backLink" >Go back to Home</a>
    </div>
</body>
</html>