<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Registration</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <header>
        <h1>Well Come to uvce page</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </nav>
    </header>

    <main>
        <div class="student">
            <a href="/student">for student</a>

        </div>
        <div class="admin">
            <a href="/admin">for admin</a>
            
        </div>
    </main>

    <footer>
        <small>&copy; <%= new Date().getFullYear() %> Exam Registration</small>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>